<style>
	header {
		margin-left: 8px;
	}
	nav {
		margin: 15px auto;
		width: 100%;
		text-align: center;
	}
	nav a {
		margin: 0 10px;
		font-family: Lucida Sans;
	}
</style>
<nav>
	<a href="/">Home</a>
	<a href="/about">About Us</a>
</nav>
<header>
	<h1><%= pagetitle %> -- <%= title %></h1>
</header>
